{% extends 'base.html.twig' %}

{% block body %}
    <main class=" flex-1 py-10  px-5 sm:px-10 ">
        <section>
            <h1 class="text-lg font-medium text-black">Modifier la <span class="font-bold text-blue-600">langue</span></h1>

            {{ include('language/_form.html.twig', {'button_label': 'Enregistrer'}) }}

            <div class="flex items-center justify-center mt-4">
                <a href="{{ path('admin_language') }}">
                    <button class="relative flex bg-blue-600 flex-row p-2 items-center justify-center rounded-md text-sm overflow-hidden border cursor-pointer transition text-white hover:opacity-90 hover:scale-105">
                        Retour à la liste
                    </button>
                </a>
            </div>

            {{ include('language/_delete_form.html.twig') }}
        </section>
    </main>
{% endblock %}
